---
import Badge from "./Badge.astro";

type Props = {
	text: string;
	href: string;
	[key: string]: any;
	multiline?: boolean;
};

const { text, href, multiline = false, ...restProps } = Astro.props;
---

<a class="badgeLink" {...restProps} href={href} type="button" target="_blank">
	<Badge style="cursor: pointer;" {multiline} hover={true}>{text} →</Badge>
</a>

<style>
	.badgeLink {
		font-size: var(--font-size-small);
		display: inline-block;
		cursor: pointer;
	}

	a {
		color: inherit;
		text-decoration: inherit;
		font-size: var(--font-size-small);
	}
</style>
