---
import { Prism } from "@astrojs/prism";
import Badge from "./Badge.astro";

type Props = {
	pageName: string;
	error: Error | null;
};

const { pageName, error } = Astro.props;
---

{
	error && (
		<p>
			<h1>An error has occurred while loading data</h1>
			<Badge multiline error>
				<p class="message">{error.message}</p>
				<p>
					If the error occurred due to misconfiguration, please
					<a href="/admin">change the configuration</a>.
				</p>
			</Badge>
		</p>
	)
}

{
	!error && (
		<div class="missingMemo">
			<h1>🧑‍🚀 Hello, Memoirs!</h1>

			<Badge style="margin-bottom: var(--space-8);" multiline error>
				<div class="err404">404</div>
				<p>Unfortunately we couldn't find any content for this page.</p>
				<ul>
					<li>Did you create a corresponding memo?</li>
					<li>Did you set the memo's visibility state to PUBLIC?</li>
				</ul>
				<p />
				<p>
					If you don't have a memo for this page, create a memo in your memos
					instance with at least the following Frontmatter information:
				</p>
			</Badge>
			<Prism
				code={`---
memoirs_page: ${pageName}
title: ...Enter your page title here...
---
# 🧑‍🚀 Hello, Headline

This is the content of your page. You can use Markdown here.`}
				lang="md"
			/>
		</div>
	)
}

<style>
	.err404 {
		font-size: 6em;
		text-align: center;
	}

	p,
	li {
		font-size: 16px;
	}

	li {
		margin-left: 1.6rem;
		font-weight: bold;
	}

	.error {
		margin-top: 2rem;
		padding: 1rem;

		.message {
			margin-block: 2rem;
			padding: 1rem;
			background: #fdd;
			border: 1px solid #f00;
		}
	}

	@media (max-width: 720px) {
		.missingMemo {
			padding-inline: 1rem;
		}
	}
</style>
