---
const today = new Date();
---

<footer>
	<div>&copy; {today.getFullYear()} Your name here. All rights reserved.</div>
</footer>

<style>
	footer {
		padding: 2em var(--space-4) var(--space-4) var(--space-4);
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
