---
import HeaderLink from "./HeaderLink.astro";
// import { SITE_TITLE } from "../consts";
import Button from "@components/markdoc/tags/Button.astro";

const SITE_TITLE = "MEMOIRS";
---

<header>
	<nav>
		<div class="siteTitle"><a href="/">{SITE_TITLE}</a></div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/memo">Memoirs</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="/admin" type="button">
				<Button class="btn-admin">Admin</Button>
			</a>
		</div>
	</nav>
</header>

<style>
	nav {
		font-size: calc(0.8 * var(--font-size-paragraph));
	}

	.siteTitle {
		font-weight: bold;
	}

	.btn-admin {
		display: flex;
		align-items: center;
		padding: 0.2rem 0.4rem;
		font-size: calc(0.8 * var(--font-size-paragraph));

		& a {
			margin: 0;
			padding: 0;
			border-bottom: 0;
		}
	}

	.internal-links {
		text-align: center;
		display: grid;
		grid-auto-flow: column;
	}

	header {
		position: sticky;
		top: 0;
		z-index: 2;

		margin: 0;
		padding: 0 1em;
		padding-bottom: var(--space-2);

		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	.social-links,
	.social-links a {
		display: flex;
		align-items: center;
	}

	@media (max-width: 720px) {
		.btn-admin {
			margin-left: 0;
		}

		header {
			padding-inline: 0;
		}
	}
</style>
