---
import type { APIMemoirsMenuResponse } from "@lib/types";
import HeaderLink from "./HeaderLink.astro";
import Button from "@components/markdoc/tags/Button.astro";

import { GET } from "@api/menu.ts";

type Props = {
	resetCache?: boolean;
	refresh?: boolean;
};

const SITE_TITLE = "MEMOIRS";
const { resetCache = true } = Astro.props;

let menuData: APIMemoirsMenuResponse | null = null;

const _getMenuData = async () => {
	try {
		Astro.props.refresh = resetCache;

		// TODO: The following GET error is an Astro specific probleme,
		// see https://github.com/withastro/astro/issues/8514
		// @ts-ignore
		const memoResp = (await GET(Astro)) as Response;
		const memoResult = (await memoResp.json()) as APIMemoirsMenuResponse;

		return memoResult;
	} catch (e) {
		console.error(e);

		return null;
	}
};

// menuData = await _getMenuData();
// console.log(":: using cached menu data: ", menuData);
---

<header>
	<a href="/" class="logo">{SITE_TITLE}</a>
	<nav>
		<ul>
			<li><HeaderLink href="/">Home</HeaderLink></li>
			<li><HeaderLink href="/memo">Memoirs</HeaderLink></li>
			<li><HeaderLink href="/components">Component Docs</HeaderLink></li>
			<li><HeaderLink href="/about">About</HeaderLink></li>
			<li>
				<a href="/admin" type="button">
					<Button class="btn-admin">Admin</Button>
				</a>
			</li>
		</ul>
	</nav>
	<a data-btn-open class="nav-toggle" role="button">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
		>
			<path
				fill="currentColor"
				d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
		</svg>
	</a>
	<a data-btn-close class="nav-toggle" style="display: none;" role="button">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
		>
			<path
				fill="currentColor"
				d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
			></path>
		</svg>
	</a>
</header>

<script>
	const setupStuff = () => {
		// Because we are using viewtransition, this has to run on every page load
		// including the tag reference, because otherwise they contain the old references
		// and the event listeners are not attached to the new elements.
		const navTag = document.querySelector("nav");
		const btns = document.querySelectorAll(".nav-toggle");
		const btnClose: HTMLAnchorElement =
			document.querySelector("[data-btn-close]")!;
		const btnOpen: HTMLAnchorElement =
			document.querySelector("[data-btn-open]")!;

		btns?.forEach((btn) => {
			btn.addEventListener("click", function () {
				if (!navTag) return;

				navTag.classList.toggle("open");

				if (navTag.classList.contains("open")) {
					btnOpen.style.display = "none";
					btnClose.style.display = "block";

					document.body.style.overflow = "hidden";
				} else {
					btnOpen.style.display = "block";
					btnClose.style.display = "none";

					document.body.style.overflow = "auto";
				}
			});
		});
	};

	// This runs on every page load. Event is sent after the viewtransition
	document.addEventListener(
		"astro:page-load",
		() => {
			setupStuff();
		},
		{ once: false }
	);
</script>

<style>
	header {
		position: sticky;
		top: 0;
		z-index: 10;
		width: 100%;

		background: var(--color-background);
		border-bottom: 1px solid var(--color-secondary);
	}

	header ul {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	nav {
		width: 100%;
		height: 100vh;
		max-height: 0;
		float: left;
		overflow: hidden;
		transition: max-height 0.3s linear;

		background: var(--color-background);
	}

	nav.open {
		max-height: 900px;
	}

	.logo {
		display: block;
		width: 100%;
		color: var(--color-primary);
		padding: 1em;
		text-decoration: none;
		font-weight: bold;
	}

	.nav-toggle {
		display: block;
		position: absolute;
		max-height: 100%;
		right: 0;
		top: 0;
		color: white;
		background-color: var(--color-primary);
		padding: 1em;
		text-decoration: none;
		cursor: pointer;
	}

	nav ul {
		list-style: none;
	}

	nav li {
		float: left;
		width: 100%;

		background-color: var(--color-background);
		border-bottom: 1px solid var(--color-secondary);
	}

	nav a {
		display: block;
		height: 100%;
		width: 100%;
		padding: 1em;
		text-decoration: none;
		color: var(--color-text);
	}

	@media screen and (min-width: 720px) {
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		nav {
			float: right;
			width: auto;
			display: block !important;
			height: auto;
			max-height: none;
		}
		header ul {
			flex-direction: row;
		}

		.logo {
			width: auto;
			float: left;
		}

		.nav-toggle {
			display: none !important;
		}

		nav li {
			width: auto;
			padding: 0;
			border-bottom: 0;
		}
	}
</style>
