---
export const grid = {
	render: "Grid",
	attributes: {
		gap: {
			type: String,
			default: "0",
		},
	},
};

const { gap } = Astro.props;
---

<div class="grid">
	<slot />
</div>

<style define:vars={{ gap }}>
	.grid {
		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(12, 1fr);
	}

	@media (max-width: 720px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
</style>
