---
import type { APIContext } from "astro";
import type { GlobalCacheMemoResultList } from "@lib/types";

import { GlobalCache } from "@lib/globalCache";
import BaseLayout from "@layouts/BaseLayout.astro";
import Content404 from "@components/Content404.astro";
import Card from "@components/Card.astro";

// TODO: Hack, for compatibility see https://docs.astro.build/en/reference/api-reference/#endpoint-context
const astro = Astro as unknown as APIContext;
const data = await GlobalCache.getInstance().getMemoList(astro) as GlobalCacheMemoResultList;

console.log(":: OVERVIEW: Num of memos:", data.memos?.length);

const baseProps = {
	title: "memoirs",
	description: "A blogging service for usememos.com",
};

---

<BaseLayout {...baseProps}>
	{data.error ? <Content404 pageName={""} error={data.error} /> : <></>}

	{
		data.memos && (
		<main>
			<div class="grid">
				{data.memos.map((memo, i: number) => <Card {memo} />)}
			</div>
		</main>
		)
	}
</BaseLayout>

<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
		grid-gap: var(--card-grid-gap);

		margin-top: var(--space-8);
		justify-items: center;
	}

	nav.contentNav {
		display: grid;
		grid-auto-flow: column;
		place-content: center;
		gap: var(--space-8);
	}
</style>
