---
import type { APIMemoQueryResponse, MemoWithMeta, MemosHost } from "@lib/types";
import BaseLayout from "@layouts/BaseLayout.astro";
import { filterOutPages, parseMarkdoc } from "@lib/markdocHelpers";
import { getMemoServerCfg } from "@lib/apiHelper";
import Content404 from "@components/Content404.astro";
import Card from "@components/Card.astro";

import { GET } from "@api/memos.ts";

const baseProps = {
	title: "memoirs",
	description: "A blogging service for usememos.com",
};

const memoHostData = Astro.cookies
	.get("memoirs.memos.host")!
	.json() as MemosHost; // Set in middleware

const { MemosAssetUrl } = getMemoServerCfg(Astro.url.origin, memoHostData);

let error: Error | null = null;
let markdocMemos: MemoWithMeta[] = [];
let memosJson: APIMemoQueryResponse | null = null;

try {
	// TODO: The following GET error is an Astro specific probleme,
	// see https://github.com/withastro/astro/issues/8514
	// @ts-ignore
	const memosResp = (await GET(Astro)) as Response;
	memosJson = (await memosResp.json()) as APIMemoQueryResponse;

	const allMarkdocMemos = memosJson.data.map((memo) =>
		parseMarkdoc(MemosAssetUrl, memo)
	);

	markdocMemos = filterOutPages(allMarkdocMemos);
} catch (e) {
	console.error(e);
	error = e as Error;
}
---

<BaseLayout {...baseProps}>
	{error && <Content404 pageName={""} {error} />}
	<main>
		<div class="grid">
			{markdocMemos.map((memo, i: number) => <Card {memo} />)}
		</div>

		<!-- <nav class="contentNav">
			<div>
				{memosJson?.lastPage ? <a href={memosJson?.lastPage}>« back</a> : ""}
			</div>
			<div>
				{memosJson?.nextPage ? <a href={memosJson?.nextPage}>next »</a> : ""}
			</div>
		</nav> -->
	</main>
</BaseLayout>

<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
		grid-gap: var(--card-grid-gap);

		margin-top: var(--space-8);
		justify-items: center;
	}

	nav.contentNav {
		display: grid;
		grid-auto-flow: column;
		place-content: center;
		gap: var(--space-8);
	}
</style>
